*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html{
  height: 100vh;
  width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kanit:wght@300&display=swap');
h1{
  color: red;
  text-transform: capitalize;
  border: 1px gray solid;
  height: 100px;
  padding: 25px 0 20px 0px;
  margin: 10px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}
i{
  color: red;
  text-transform: capitalize;
  height: 100px;
  padding: 27px 0 25px 0px;
  margin: 10px;
}
#basic{
  font-size: 18px;
  line-height: 40px;
  padding-top: 10px;
  padding-left: 60px;
  color: darkred;
  font-family: 'Dancing Script', cursive;
  padding-bottom: 30px;
}
p{
  text-decoration: 1.5px line-through;
  display: inline-block;
  font-weight: bold;
 
}
span{
  background-color: yellow;
  font-weight: bold;
}
#basic1{
font-style: italic;
text-decoration: underline;
}
ul{
  padding-left: 60px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  color: darkred;
  font-weight: bold;
  line-height: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
#basic2{
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 20px;
  padding-right: 20px;
  color: darkred;
  font-weight:600;
  padding-bottom: 20px;
}
a{
  color: red;
  background-color: yellow;
  text-decoration: none;
  margin-left: 30px;
  margin-top: 200px;
  font-weight: bold;
  font-style: italic;
}